* {
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 16px;
}

header {
  text-align: center;

}


textarea {
  background: transparent;
  border: none;
  resize: none;
  border-left: 1px solid #3B3B3B;
  padding: 10px;

}

.description {
  white-space: pre-wrap;

}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;

}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #3B3B3B;
}

.past {
  background-color: #d3d3d3;

}

.present {
  background-color: #ff6961;

}

.future {
  background-color: #77dd77;

}

.saveBtn {
  border-left: 1px solid #3B3B3B;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.clear-button {
  border-radius: .5rem;
  padding: .75rem;
  border: none;
  background-color: #d3d3d3;
}


.clear-button:hover {
  background-color: #3B3B3B;
  color: white;
  transition: all 0.1s ease-in-out;
}